body{
    background-color: #080A03;
    color: #F0F0F0;
    padding: 50px 0px;
    font-size: 20px;
    font-family: Arsenal;
}

h2:nth-of-type(3), h4, table{
    display: none !important;
}

h1, h2, p{
    text-align: center;
}